<h1>Log In</h1>
<%= form_with url: sign_in_path do |form| %>
  <p>
  <%= form.label 'Email'%><br>
  <%= form.text_field :email, id: 'email' %>
  </p>

  <p>
  <%= form.label 'Password' %><br>
  <%= form.password_field :password, id: 'password' %>
  </p>

  <p>
  <%= form.submit 'Log In' %>
  </p>
<% end %>




