<%= form_with model: article do |form| %>
<div class='mb-3'>
	<%= form.label :title, class: 'form-label' %><br>
	<%= form.text_field :title, class: 'form-control' %>
	<% article.errors.full_messages_for(:title).each do |message| %>
	<%= message %>
	<% end %>
</div> 

<div>
	<%= form.label :body, class: 'form-label' %><br>
	<%= form.text_area :body, class: 'form-control' %><br>
	<% article.errors.full_messages_for(:body).each do |message| %>
    <%= message %>
	<% end %>
</div> 

<div>
	<%= form.label :author, class: 'form-label' %><br>
	<%= form.text_field :author, class: 'form-control', required: true %><br>
</div> 

<% if can? :manage, article %>
<div class='mb-3' >
  <%= form.check_box :featured, { class: 'form-check-input' }, "true", "false" %> Featured
</div>
<% end %>
  
<div>
	<%= form.submit 'Create', class: 'btn btn-primary' %>
</div>
<% end %>

