<h1>All Articles</h1>

<!-- <#%= form_tag(search_articles_path, method: :get) do %>
  <#%= text_field_tag(:query, params[:query]) %>
  <#%= submit_tag('Search all articles') %>
<#% end %><br>

</div>
<div class="col" >
  <#%= form_tag(search_featured_articles_path, method: :get) do %>
  <#%= submit_tag('See featured articles') %>
<#% end %>
</div> -->

<div class="row">
  <div class="col-sm-1 col-md-0"  >
    <%= form_tag(search_articles_path, method: :get) do %>
    <%= submit_tag('See all articles') %>
  <% end %>
</div>

<br><br> 

<h5>Filters</h5>
<%= form_with url: search_filter_articles_path, method: :get do |f| %>
  From: <%= f.date_field :from_date %><br/>
To: <%= f.date_field :to_date %><br/><br/>
<%= f.check_box :featured, { class: 'form-check-input' }, true, false %> Featured<br/><br/>
<%= f.text_field(:query, placeholder: 'Search title, body, comments') %><br/><br/>
<%= f.submit 'Apply filters' %><br/><br/>
<% end %><br/>

<ul>
  <% unless @articles.nil? %>  
  	<% @articles.each do |article| %>
  		<li>
  			<%= link_to article.title, article %>
  		</li>
  	<% end %>
  <% end %>
</ul>

