<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p><strong>Author: </strong><%= "#{@article.user.profile.first_name} #{@article.user.profile.last_name}" %></p>

<ul>
<% if can? :update, @article %>
	<li><%= link_to "Edit", edit_article_path(@article) %></li>
<% end %>
<% if can? :delete, @article %>
	<li><%= link_to "Delete", article_path(@article), data: {
				turbo_method: :delete,
				turbo_confirm: "Are you sure?"
				} %></li>
<% end %>
</ul>

<h4>Comments</h4>
<%= render @article.comments %>

<% if user_signed_in? %>
  <strong>Add a comment:</strong>
  <%= render "comments/form", commentable: @article %>
<% end  %>
